<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
   {{> navbar}}

    <div class="row">
    <h1>Capitan America</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/capitan-america.png" alt="CApitan America" srcset="assets/img/capitan-america.png">
    </div>

   {{> footer}}
</body>

</html>