<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
     <div class="jumbotron">
        <h1 class="display-5 fw-bold bg-danger text-white">{{ initCap errorMsg }}!</h1>
    </div>
   {{> footer}}
</body>

</html>