<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
   {{> navbar}}

    <div class="jumbotron">
        <h1 class="display-4">Hello, {{ initCap nombre }}!</h1>
        <p class="lead">Esto es un ejemplo de Hero Unit, un simple componente jumbotron-style.</p>
        <hr class="my-4">
        <p>It use... no me acuerdo mas..</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
   {{> footer}}
</body>

</html>