<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
   {{> navbar}}
    <main class="form-signin jumbotron">
    
        <img class="mb-4" src="assets/img/logo.jpeg" alt="" width="180x" height="100px">
        <h1 class="h3 mb-3 fw-normal">Ingreso de datos</h1>
        <Form action = "/" method="POST">
              <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" placeholder="Usuario de SigStock" name="user">
              <label for="floatingInput">Nombre de Usuario</label>
              </div>
              <div class="form-floating">
              <input type="password" class="form-control"  required="" id="floatingPassword" name="password" placeholder="Password">
              <label for="floatingPassword">Clave de usuario</label>
              </div>
            <input type="hidden" class="form-control" id="idBag" required="" name="BagId" value="{{idBag}}">
            <input type="hidden" class="form-control" id="ptoVenta" required="" name="ptoVenta" value="{{ptoVenta}}">
            <hr class="my-4">
            
            <button class="w-100 btn btn-lg btn-primary" type="submit" >Ingresar datos</button>
              
        </form>
           
        
        <p class="mt-5 mb-3 text-muted">&copy; {{ getAnio}}</p>
    
    </main>
    
   {{> footer}}
</body>

</html>
