
<!DOCTYPE html>
<html lang="en">

{{> head1}}

<body>
 
    <main class="form-signin jumbotron">
        <h1 class="h3 mb-3 fw-normal">Ingreso de datos</h1>
              <div class="jumbotron">
                  <h1 class="display-5 fw-bold">{{ initCap resultado }}!</h1>
              </div>    
              {{!-- <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="location.replace('/salir');">Terminar </button> --}}
        <button class="w-100 btn btn-lg btn-primary" type="submit" onclick=";">Terminar </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    
    </main>
    
   {{> footer}}
</body>

</html>